
.contactMeTitle {
    min-height: 122px;
    border-bottom: 17px solid #67dffa;
    background-color: #48cbe8;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    text-align: center;
}

.h2Contact {
    color: white;
    text-decoration: none;
    font-weight: normal;
    font-family: "fira_sansbook", sans-serif;
    font-size: 27px;
    
    display:-moz-inline-box;
    
    display: inline-block;
    vertical-align: middle;
    
    zoom:1;
}

.formContactMe {
    width: 400px;
    margin: 0 auto;
    padding-top: 38px;
}

.formIdFields {
    /*display: flex;
    justify-content: space-between;*/
}

.inputCaption {
    font-family: "fira_sanslight", sans-serif;
    font-size: 19px;
    color: #959aa8;
}

.inputCaption.labelCapcha {
    font-size: 17px;
}

.idInput {
    height: 41px;
    width: 195px;
    box-sizing: border-box;
}

.inputMessage {
    width: 100%;
    height: 183px; 
    box-sizing: border-box;
    resize: none;
}

/*-------------------------------------------------------- input placeholder ----------------------------------------------------*/

.textarea {
    width: 100%;
    height: 185px;
}



.formArea {
    margin-bottom: 10px;
}

.formArea:last-child {
    margin-top: 20px;
}

.formArea.formAreaMessage {
    max-height: 213px;
}

.formCapcha {
    /*display: flex;
    justify-content: space-between;
    align-items: center;*/
}

.inputCapcha {
    height: 32px;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.25em;
    box-sizing: border-box;
}

.imgCapcha {
    background-color: white;
    
    display: inline-block;
    vertical-align: middle;
    line-height: 1.25em;
}

.capchaContainer {
    border: 1px solid #48cbe8;
    border-radius: 3px;
    background-color: white;
    height: 76px;
    width: 190px;
    
    float:left;
    text-align: center;
    line-height: 76px;
}

.formValidateArea {
    display: flex;
    justify-content: space-between;
}

.inpuBlock-name {
    display: inline-block;
    max-width: 195px;
    float: left;
}

.inputBlock-mail {
    display: inline-block;
    max-width: 191px;
    float: right;
}

.capchaInput {
    float: right;
    line-height: 72px;
}
