
.contactMeTitle {
    height: 122px;
    border-bottom: 17px solid #67dffa;
    background-color: #48cbe8;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    text-align: center;
}

.h2Contact {
    color: white;
    text-decoration: none;
    font-weight: normal;
    font-family: "fira_sansbook", sans-serif;
    font-size: 27px;
    display: inline-block;
    vertical-align: middle;
}

.formContactMe {
    width: 400px;
    margin: 0 auto;
    padding-top: 44px;
}

.formIdFields {
    /*display: flex;
    justify-content: space-between;*/
}

.inputCaption {
    font-family: "fira_sanslight", sans-serif;
    font-size: 17px;
    color: #959aa8;
}

.idInput {
    height: 41px;
    width: 195px;
    box-sizing: border-box;
}

.inputMessage {
    padding: 0;
    width: 100%;
    height: 185px; 
    box-sizing: border-box;
}

.inputField {
    border: 1px solid #48cbe8;
    border-radius: 3px;
    color: #48cbe8;
    font-family: "fira-sanslight", sans-serif;
    font-size: 13px;
    padding: 9px;
}

/*-------------------------------------------------------- input placeholder ----------------------------------------------------*/

.inputField::-webkit-input-placeholder{
    color: #48cbe8;
}

.inputField:-moz-placeholder{
    color: #48cbe8;
}

.inputField::-moz-placeholder{
    color: #48cbe8;
}

.inputField:-ms-input-placeholder{
    color: #48cbe8;
}

/*-------------------------------------------------------- input placeholder ----------------------------------------------------*/

.textarea {
    width: 100%;
    height: 185px;
}

/*.inputField .textarea::-webkit-input-placeholder{
    padding-top: 30px;
}

.inputField .textarea:-moz-placeholder{
    padding-top: 30px;
}

.inputField .textarea::-moz-placeholder{
    padding-top: 30px;
}

.inputField .textarea:-ms-input-placeholder{
    padding-top: 30px;
}*/

.formArea {
    margin-bottom: 10px;
}

.formArea:last-child {
    margin-top: 20px;
}

.formCapcha {
    /*display: flex;
    justify-content: space-between;
    align-items: center;*/
}

.inputCapcha {
    height: 32px;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.25;
    box-sizing: border-box;
}

.imgCapcha {
    background-color: white;
    
    display: inline-block;
    vertical-align: middle;
    line-height: 1.25;
}

.capchaContainer {
    border: 1px solid #48cbe8;
    border-radius: 3px;
    background-color: white;
    height: 80px;
    width: 190px;
    
    float:left;
    text-align: center;
    line-height: 80px;
}

.formValidateArea {
    display: flex;
    justify-content: space-between;
}

.btnSubmit {
    background-color: #48cbe8;
    color: white;
    height: 33px;
    widows: 137px;
    
    font-family: "fira_sansbook", sans-serif;
    font-size: 19px;
    
    padding-left: 22px;
    padding-right: 22px;
    float: left;
    
    border-radius: 4px;
    border: 0px;
    border-bottom: 2px solid #3ba8c0;
    box-sizing: border-box;
}

.btnReset {
    background-color: #849db5;
    color: white;
    height: 33px;
    width: 137px;
    
    font-family: "fira_sansbook", sans-serif;
    font-size: 19px;
    
    padding-left: 22px;
    padding-right: 22px;
    float: right;
    
    border-radius: 4px;
    border: none;
    border-bottom: 2px solid #687b8f;
    box-sizing: border-box;
}

.btnReset:hover {
    border: none;
}

.btnReset:active {
    border: none;
    border-top: 2px solid #687b8f;
}

.btnSubmit:hover {
    border: none;
}

.btnSubmit:active {
    border: none;
    border-top: 2px solid #687b8f;
}

.inpuBlock-name {
    display: inline-block;
    max-width: 195px;
    float: left;
}

.inpuBlock-mail {
    display: inline-block;
    max-width: 195px;
    float: right;
}

.capchaInput {
    float: right;
    line-height: 80px;
}
