.figurePhoto {
    display: inline-block;
    overflow: hidden;
    border: 4px solid #3ba8c0;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 35px 10px 70px 55px;
}

.photo {
    width: 100%;
}
.descriptionInfo {
    display: inline-block;
    vertical-align: top;
    padding-top: 10px;
}

.descrItem {
    font-family: "fira_sansbook", sans-serif;
    color: #37424d;
    margin: 10px 0px;
}

.descrCaption {
    font-family: "fira_sansmedium", sans-serif;
    margin-right: 20px;
    color: #37424d;
}

.skillItem {
    border-radius: 2px;
    background-image: linear-gradient(to top, #2e8ca2 50%, #3ba8c0 50%);
    height: 20px;
    padding: 0px 14px;
    margin: 0px 10px 10px 0px;
    vertical-align: middle;
    display: inline-block;
    color: white;
    font-family: "proxima_nova_cond_semibold", sans-serif;
}

.no-cssgradients .skillItem{
    background: #2e8ca2;
}

.skillsCaption {
    display: table-cell;
    vertical-align: top;
}

.skillsList {
    display: table-cell;
    max-width: 240px;
}

.jImage {
    display: table-cell;
    margin-right: 30px;
    padding-left: 60px;
    padding-top: 28px;
    line-height: 100%;
}

.jDescr {
    display: table-cell;
    height: 100%;
    vertical-align: top;
}

.jobName {
    margin: 0px;
    padding: 0px;
    vertical-align: text-top;
    font-family: "fira_sansmedium", sans-serif;
    color: #37424d;
    font-size: 17px;
}

.jobDate {
    margin: 0px;
    font-family: "fira_sansbook", sans-serif;
    color: #37424d;
    font-size: 15px;
}

.job_Figure {
    list-style: none;
    background: url("../images/ico_job.png") 20px center no-repeat;
    padding-left: 90px;
    margin-bottom: 10px;
}

.jImage-content {
    vertical-align: middle;
    line-height: 1.25em;
}

.univer_Figure {
    list-style: none;
    background: url("../images/ico_univer.png") 20px center no-repeat;
    padding-left: 90px;
    margin-bottom: 10px;
}

.school_Figure {
    list-style: none;
    background: url("../images/ico_school.png") 30px center no-repeat;
    padding-left: 90px;
    margin-bottom: 10px;
}
