.figurePhoto {
    display: inline-block;
}

.photo {
    border: 4px solid #3ba8c0;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 35px 20px 70px 55px;
}
.descriptionInfo {
    display: inline-block;
    vertical-align: top;
}

.descrItem {
    font-family: "fira_sansbook", sans-serif;
    color: #37424d;
    margin: 6px 0px;
}

.descrCaption {
    font-family: "fira_sansmedium", sans-serif;
    margin-right: 20px;
    color: #37424d;
}

.skillItem {
    border-radius: 2px;
    background-image: linear-gradient(to top, #2e8ca2 50%, #3ba8c0 50%);
    height: 20px;
    padding: 0px 14px;
    margin: 0px 10px 10px 0px;
    vertical-align: middle;
    display: inline-block;
    color: white;
    font-family: "ProximaNova-Semibold", sans-serif;
}

.skillsCaption {
    display: table-cell;
}

.skillsList {
    display: table-cell;
    max-width: 240px;
}

.jImage {
    display: inline-block;
    margin-right: 30px;
    padding-left: 60px;
    padding-top: 28px;
}

.jDescr {
    display: inline-block;
    height: 100%;
    vertical-align: top;
    padding-top: 28px;
}

.jobName {
    margin: 0px;
    padding: 0px;
    vertical-align: text-top;
    font-family: "fira_sansmedium", sans-serif;
    color: #37424d;
    line-height: 17px;
}

.jobDate {
    margin: 0px;
    font-family: "fira_sansbook", sans-serif;
    color: #37424d;
    line-height: 15px;
    font-size: 15px;
}

.edu_job_Figure {
    display: flex;
    align-items: center;
}
