/*---------------------------------------------- common ----------------------------------------------*/
.html {
	height: 100%;
}

.body {
	width: 100%;
	height: 100%;
}
.wrapper {
	/*margin: 0 auto;
	min-height: 100%;
	height: 100%;
    padding-bottom: 80px;*/
    
    position: relative; 
    min-height: 100%;
    
    background-image: url("../images/comppattern2.png");
    background-repeat: repeat;
}
.wrapper:after {
    content: " ";
    display: block;
    height: 83px;
}
.zeroMargin {
    margin: 0px;
    padding: 0px;
}
/*---------------------------------------------- header ----------------------------------------------*/

.header {
    background-color: #f0f4f7;
    min-height: 117px;
    height: auto;
    padding: 0px;
    width: auto;
    min-width: 1200px;
    position: relative;
    
    vertical-align: middle;
    
    /*border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #1c667a;*/
}

.header:after {
    display: block;
    height: 3px;
    width: 100%;
    content: " ";
    bottom: 0;
    position: absolute;
    
    background-image: -moz-linear-gradient( 0deg, rgb(28,102,122) 0%, rgb(246,250,254) 0%, rgb(216,216,216) 0%, rgb(242,246,250) 0%, rgb(135,174,186) 28%, rgb(28,102,122) 48%, rgb(135,174,186) 71%, rgb(242,246,250) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(28,102,122) 0%, rgb(246,250,254) 0%, rgb(216,216,216) 0%, rgb(242,246,250) 0%, rgb(135,174,186) 28%, rgb(28,102,122) 48%, rgb(135,174,186) 71%, rgb(242,246,250) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(28,102,122) 0%, rgb(246,250,254) 0%, rgb(216,216,216) 0%, rgb(242,246,250) 0%, rgb(135,174,186) 28%, rgb(28,102,122) 48%, rgb(135,174,186) 71%, rgb(242,246,250) 100%);
    
}

.no-cssgradients .header{
    background: #f0f4f7 url("../images/border.png") bottom center no-repeat;
}

.spriteHeader {
    margin: 35px 12px;
    width: 47px;
    height: 47px;
    display: inline-block;
    list-style: none;
}

.spriteHeader:last-child {
    margin-right: 0px;
}

.logo {
    float: left;
    margin-left: 0px;
    margin-top: 40px;
    vertical-align: middle;
}

.lastHeaderBlock {
    margin-right: 100px;
}

.socialBlock {
    float: right; 
    padding:0px;
    padding-right: 0px;
}


/*---------------------------------------------- page content ----------------------------------------------*/

.pageContent {
    width: 960px;
    margin: 40px auto 0px;
}

.aside {
    width: 250px;
    float: left;
}

.main {
    float: right;
    vertical-align: top;
    padding-left: 60px;
    width: 710px;
    box-sizing: border-box;
}

.articleClass {
    background-color: #eff3f7;
    border-radius: 3px;
    margin-bottom: 25px;
    padding-bottom: 20px;
}

.articleClass:last-child {
    margin-bottom: 40px;
}

.articleTitle {
    display: table-cell;
    border-bottom: 2px solid #3ba8c0;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
}

.articleTitle:after {
    /*content: "";
    display: table-cell;
    width: 100%;*/
}

.content-block-title {
    color: #3ba8c0;
    text-decoration: none;
    font-weight: normal;
    font-family: "fira_sansbook", sans-serif;
    font-size: 27px;
    
    padding: 14px 25px;
    
    display: table-cell;
    
    border-bottom: 2px solid #3ba8c0;
}

/*---------------------------------------------- menu ----------------------------------------------*/

.navigationBlock {
    box-sizing: border-box;
    margin-bottom: 20px;
    border-radius: 4px;
}
.menuItem {
    color: #959aa8;
    background-color: #f0f4f7;
    display: block;
    box-sizing: border-box;
    
    font-family: "fira_sansbook", sans-serif;
    font-size: 21px;
    
    margin: 0;
}

.menuItem:first-child {
    border-top: 1px solid transparent;
    border-top-left-radius:  4px;
    border-top-right-radius:  4px;
}
.menuItem:last-child {
    border-bottom: 1px solid transparent;
    border-bottom-left-radius:  4px;
    border-bottom-right-radius:  4px;
}

.menuItemSelected {
    background-color: #3ba8c0;
    color: white;
    font-size: 23px;
}

.menuItem:hover {
    color: #3ba8c0;
}

.menuItemSelected:hover{
    color: white;
}

.menuSeparator {
    /*border-bottom: 2px solid #3ba8c0;*/
}

.menuItemContent {
    margin: auto 0px;
}

.link {
    display: block;
    color: inherit;
    margin: auto 10px;
    box-sizing: border-box;
    
    padding: 19px 18px 19px 18px;
    
    border-top: 2px solid #3ba8c0;
}

.menuItemSelected .link {   
    padding: 18px 5px 18px 18px;
}
.link:link {
    text-decoration: none;
}

.link:visited {
    text-decoration: none;
}

.link:hover {
    color: inherit;
    text-decoration: none;
}

.link:active {
    text-decoration: none;
}

.link-no-border {
    border-top: none;
}

/*---------------------------------------------- contacts ----------------------------------------------*/

.contactItem {
    color: white;
    background-color: #41b9d4;
    display: block;
    box-sizing: border-box;
    
    font-family: "fira_sansbook", sans-serif;
    font-size: 17px;
}

.linkContact {
    display: block;
    height: 100%;
    color: inherit;
    vertical-align: middle;
    text-decoration: none;
}

.linkContact:hover {
    color: inherit;
    text-decoration: underline;
}

.linkContact:active {
    text-decoration: underline;
}



.icoContact {
    display: inline-block;
    margin-left: 40px;
    margin-top: 11px;
    margin-right: 20px;
}

.contactTitle {
    margin: 0;
    background-color: #3ba8c0;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 3px;
    
    font-family: "fira_sansbook", sans-serif;
    font-size: 21px;
    font-weight: normal;
}

.contactMail {
    background-color: #41b9d4;
    vertical-align: middle;
}

.contactPhone {
    background-color: #48cbe8;
    vertical-align: middle;
}

.contactSkype {
    background-color: #51daf8;
    vertical-align: middle;
}

.contactText {
    display: inline-block;
    vertical-align: middle;
    padding: 6px;
    margin: 0;
}

.contactText:hover {
    text-decoration: underline;
}

/*---------------------------------------------- footer ----------------------------------------------*/

.footer {
    position: relative;
    margin-top: -83px;
    
    min-width: 1200px;
	height: 80px;
	background: #f0f4f7;
    
    text-align: center;
}

.footer:before {
    display: block;
    height: 3px;
    width: 100%;
    content: " ";
    position: absolute;
    top: 0;
    
    background-image: -moz-linear-gradient( 0deg, rgb(28,102,122) 0%, rgb(246,250,254) 0%, rgb(216,216,216) 0%, rgb(242,246,250) 0%, rgb(135,174,186) 28%, rgb(28,102,122) 48%, rgb(135,174,186) 71%, rgb(242,246,250) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(28,102,122) 0%, rgb(246,250,254) 0%, rgb(216,216,216) 0%, rgb(242,246,250) 0%, rgb(135,174,186) 28%, rgb(28,102,122) 48%, rgb(135,174,186) 71%, rgb(242,246,250) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(28,102,122) 0%, rgb(246,250,254) 0%, rgb(216,216,216) 0%, rgb(242,246,250) 0%, rgb(135,174,186) 28%, rgb(28,102,122) 48%, rgb(135,174,186) 71%, rgb(242,246,250) 100%);
    
}

.no-cssgradients .footer{
    background: #f0f4f7 url("../images/border.png") top center no-repeat;
}

/*---------------------------------------------- clear fix ----------------------------------------------*/

.clearfix:after{
    clear: both;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}


.menuItemFirst {
    border-top: 1px solid transparent;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.menuItemLast {
    border-bottom: 1px solid transparent;
    border-bottom-left-radius:  4px;
    border-bottom-right-radius:  4px;
}

.footerP {
    color: #4a545d;
    margin: 0 auto;
    padding: 0 40px;
    box-sizing: border-box;
    vertical-align: middle;
}

.contactImage {
    margin-left: 40px;
    margin-right: 10px;
    vertical-align: middle;
}



.signin-image {
    background-image: url("../images/sign_in.png");
    display: inline-block;
    background-repeat: no-repeat;
    width: 20px;
    height: 32px;
    margin-right: 230px;
    vertical-align: middle;
    cursor: pointer;
    
    /*margin-left: 160px;
    display: inline-block;
    line-height: 1.2;*/
}

.signin-image:hover {
    background-image: url("../images/sign_in_success.png");
}

.copyright {
    display: inline-block;
    margin: 0;
    font-size: 13px;
    font-family: "fira_sanslight", sans-serif;
    vertical-align: middle;
    margin-right: 250px;
}

.empty-vert-align {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.inner-vert-align {
    display: inline-block;
    vertical-align: middle;
}

.menuBlock {
    border: 1px solid transparent;
    border-radius:  4px;
    background-color: #f0f4f7;
}

.menuBlock:firstChild {
    border: 1px solid transparent;
    border-radius:  4px;
}

.headerContainer {
    width: 1200px;
    margin: 0 auto;
}

.inputField {
    border: 1px solid #48cbe8;
    border-radius: 3px;
    color: #48cbe8;
    font-family: "fira-sanslight", sans-serif;
    font-size: 13px;
    padding: 9px;
}

/*-------------------------------------------------------- input placeholder ----------------------------------------------------*/

.inputField::-webkit-input-placeholder{
    color: #48cbe8;
}

.inputField:-moz-placeholder{
    color: #48cbe8;
}

.inputField::-moz-placeholder{
    color: #48cbe8;
}

.inputField:-ms-input-placeholder{
    color: #48cbe8;
}

.btnAction {
    color: white;
    height: 33px;
    width: 137px;
    
    font-family: "fira_sansbook", sans-serif;
    font-size: 19px;
    
    padding-left: 22px;
    padding-right: 22px;
    
    border-radius: 4px;
    border: none;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    
    box-sizing: border-box;
}

.btnAction.btnReset {
    background-color: #849db5;
    border-bottom-color: #687b8f;
    
    float: right;
    width: 125px;
}

.btnAction.btnSubmit {
    background-color: #48cbe8;
    
    border-bottom-color: #3ba8c0;
}

.btnAction.btnSubmit.btnSendContact {
    float: left;
}

.btnSubmit.btnAddProject {
}

.btnReset:hover {
    border: none;
}

.btnReset:active {
    border: none;
    border-top: 2px solid #687b8f;
}

.btnSubmit:hover {
    border: none;
}

.btnSubmit:active {
    border: none;
    border-top: 2px solid #687b8f;
}

/*------------------------------------------------error styles---------------------------------------------------------*/

.inputError {
    background-color: #fad2d1;
    border-color: #f97e76;
}

.qtip-custom {
    background-color: #f97e76 !important;
    border-color: #f97e76 !important;
    color: white !important;
    
    font-family: "fira_sansbook", sans-serif;
    font-size: 13px;
}


.footerText {
    /*line-height: 1.2;
    text-align: center;
    margin-left: 95px;
    display: inline-block;
    vertical-align: middle;*/
}
