/*---------------------------------------------- common ----------------------------------------------*/
.html {
	height: 100%;
}

.body {
	width: 100%;
	height: 100%;
}
.wrapper {
	/*margin: 0 auto;
	min-height: 100%;
	height: 100%;
    padding-bottom: 80px;*/
    
    position: relative; 
    min-height: 100%;
    
    background-image: url("../images/comppattern2.png");
    background-repeat: repeat;
}
.wrapper:after {
    content: " ";
    display: block;
    height: 83px;
}
.zeroMargin {
    margin: 0px;
    padding: 0px;
}
/*---------------------------------------------- header ----------------------------------------------*/

.header {
    background-color: #f0f4f7;
    min-height: 117px;
    height: auto;
    padding: 0px;
    width: auto;
    min-width: 960px;
    position: relative;
    
    vertical-align: middle;
    
    /*border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #1c667a;*/
}

.header:after {
    display: block;
    height: 3px;
    width: 100%;
    content: " ";
    bottom: 0;
    position: absolute;
    
    background-image: -moz-linear-gradient( 0deg, rgb(28,102,122) 0%, rgb(246,250,254) 0%, rgb(216,216,216) 0%, rgb(242,246,250) 0%, rgb(135,174,186) 28%, rgb(28,102,122) 48%, rgb(135,174,186) 71%, rgb(242,246,250) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(28,102,122) 0%, rgb(246,250,254) 0%, rgb(216,216,216) 0%, rgb(242,246,250) 0%, rgb(135,174,186) 28%, rgb(28,102,122) 48%, rgb(135,174,186) 71%, rgb(242,246,250) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(28,102,122) 0%, rgb(246,250,254) 0%, rgb(216,216,216) 0%, rgb(242,246,250) 0%, rgb(135,174,186) 28%, rgb(28,102,122) 48%, rgb(135,174,186) 71%, rgb(242,246,250) 100%);
    
}

.no-cssgradients .header{
    background: #f0f4f7 url("../images/border.png") bottom center no-repeat;
}

.spriteHeader {
    margin: 35px 12px;
    width: 47px;
    height: 47px;
    display: inline-block;
    list-style: none;
}

.logo {
    float: left;
    margin-left: 100px;
    margin-top: 40px;
    vertical-align: middle;
}

.lastHeaderBlock {
    margin-right: 100px;
}

.socialBlock {
    float: right; 
    padding:0px;
    padding-right: 90px;
}


/*---------------------------------------------- page content ----------------------------------------------*/

.pageContent {
    width: 960px;
    margin: 40px auto 0px;
}

.aside {
    display: inline-block;
    width: 250px;
}

.main {
    display: inline-block;
    vertical-align: top;
    padding-left: 60px;
    width: 710px;
    box-sizing: border-box;
}

.articleClass {
    background-color: #eff3f7;
    border-radius: 3px;
    margin-bottom: 25px;
    padding-bottom: 20px;
}

.articleTitle {
    display: table-cell;
    border-bottom: 2px solid #3ba8c0;
    padding-left: 20px;
    padding-right: 20px;
    height: 70px;
}

.articleTitle:after {
    /*content: "";
    display: table-cell;
    width: 100%;*/
}

.content-block-title {
    color: #3ba8c0;
    text-decoration: none;
    font-weight: normal;
    font-family: "fira_sansbook", sans-serif;
    font-size: 27px;
    margin: 0;
}

/*---------------------------------------------- menu ----------------------------------------------*/

.navigationBlock {
    box-sizing: border-box;
    margin-bottom: 24px;
    border-radius: 4px;
}
.menuItem {
    color: #959aa8;
    background-color: #f0f4f7;
    display: block;
    box-sizing: border-box;
    height: 73px;
    
    font-family: "fira-sansbook", sans-serif;
    font-size: 21px;
    font-weight: normal;
    
    margin: 0;
}

.menuItem:first-child {
    border-top: 1px solid transparent;
    border-top-left-radius:  4px;
    border-top-right-radius:  4px;
}
.menuItem:last-child {
    border-bottom: 1px solid transparent;
    border-bottom-left-radius:  4px;
    border-bottom-right-radius:  4px;
}

.menuItemSelected {
    background-color: #3ba8c0;
    color: white;
    font-size: 23px;
}

.menuItem:hover {
    color: #3ba8c0;
}

.menuItemSelected:hover{
    color: white;
}

.menuSeparator {
    /*border-bottom: 2px solid #3ba8c0;*/
}

.menuItemContent {
    margin: auto 0px;
}

.link {
    display: block;
    color: inherit;
    margin: auto 10px;
    box-sizing: border-box;
    
    padding: 20px 0px 20px 18px;
    
    border-top: 2px solid #3ba8c0;
}
.link:link {
    text-decoration: none;
}

.link:visited {
    text-decoration: none;
}

.link:hover {
    color: inherit;
    text-decoration: none;
}

.link:active {
    text-decoration: none;
}

.link-no-border {
    border-top: none;
}

/*---------------------------------------------- contacts ----------------------------------------------*/

.contactItem {
    color: white;
    background-color: #41b9d4;
    display: block;
    box-sizing: border-box;
    height: 40px;
    
    font-family: "fira-sansbook", sans-serif;
    font-size: 17px;
    font-weight: normal;
}

.linkContact {
    display: block;
    height: 100%;
    color: inherit;
    vertical-align: middle;
    text-decoration: none;
    line-height: 8px;
}

.linkContact:hover {
    color: inherit;
    text-decoration: underline;
}

.linkContact:active {
    text-decoration: underline;
}

.contactItem {
    display: block;
    height: 40px;
}

.icoContact {
    display: inline-block;
    margin-left: 40px;
    margin-top: 11px;
    margin-right: 20px;
}

.contactTitle {
    background-color: #3ba8c0;
    padding-left: 20px;
    padding-top: 15px;
    padding-top: 15px;
}

.contactMail {
    background-color: #41b9d4;
    vertical-align: middle;
}

.contactPhone {
    background-color: #48cbe8;
    vertical-align: middle;
}

.contactSkype {
    background-color: #51daf8;
    vertical-align: middle;
}

.contactText {
    display: inline-block;
    vertical-align: middle;
}

.contactText:hover {
    text-decoration: underline;
}

/*---------------------------------------------- footer ----------------------------------------------*/

.footer {
	/*width: 100%;
    min-width: 960px;
	margin: -80px auto 0;
	height: 80px;
	background: #f0f4f7;
	position: relative;*/
    text-align: center;
    position: relative;
    margin-top: -83px;
    
    min-width: 960px;
	height: 80px;
	background: #f0f4f7;
    
   /* border-top-width: 3px;
    border-top-style: solid;
    border-top-color: #1c667a;*/
}

.footer:before {
    display: block;
    height: 3px;
    width: 100%;
    content: " ";
    position: absolute;
    top: 0;
    
    background-image: -moz-linear-gradient( 0deg, rgb(28,102,122) 0%, rgb(246,250,254) 0%, rgb(216,216,216) 0%, rgb(242,246,250) 0%, rgb(135,174,186) 28%, rgb(28,102,122) 48%, rgb(135,174,186) 71%, rgb(242,246,250) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(28,102,122) 0%, rgb(246,250,254) 0%, rgb(216,216,216) 0%, rgb(242,246,250) 0%, rgb(135,174,186) 28%, rgb(28,102,122) 48%, rgb(135,174,186) 71%, rgb(242,246,250) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(28,102,122) 0%, rgb(246,250,254) 0%, rgb(216,216,216) 0%, rgb(242,246,250) 0%, rgb(135,174,186) 28%, rgb(28,102,122) 48%, rgb(135,174,186) 71%, rgb(242,246,250) 100%);
    
}

.no-cssgradients .footer{
    background: #f0f4f7 url("../images/border.png") top center no-repeat;
}

/*---------------------------------------------- clear fix ----------------------------------------------*/

.clearfix:after{
    clear: both;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}


.menuItemFirst {
    border: 1px solid transparent;
    border-radius:  4px;
}

.menuItemLast {
    border-bottom: 1px solid transparent;
    border-bottom-left-radius:  4px;
    border-bottom-right-radius:  4px;
}

.footerP {
    display: inline-block;
    vertical-align: middle;
    
    font-size: 13px;
    font-family: "fira_sanslight", sans-serif;
    color: #4a545d;
}

.contactImage {
    margin-left: 40px;
    margin-right: 10px;
    vertical-align: middle;
}

.footer-content-before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.signin-image {
    background-image: url("../images/sign_in.png");
    display: inline-block;
    background-repeat: no-repeat;
    width: 20px;
    height: 32px;
    margin-right: 230px;
    vertical-align: middle;
}

.signin-image:hover {
    background-image: url("../images/sign_in_success.png");
}

.copyright {
    display: inline-block;
    margin: 0;
}

.empty-vert-align {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.inner-vert-align {
  display: inline-block;
  vertical-align: middle;
}

.menuBlock {
    border: 1px solid transparent;
    border-radius:  4px;
    background-color: #f0f4f7;
}

.menuBlock:firstChild {
    border: 1px solid transparent;
    border-radius:  4px;
}

.headerContainer {
    max-width: 1400px;
    margin: 0 auto;
}
