.workItemAddress {
    color: #3ba8c0;
    font-family: "fira_sanslight_italic", sans-serif;
    font-size: 13px;
    text-align: center;
}

.workItemDescr {
    font-family: "fira_sanslight", sans-serif;
    font-size: 15px;
    color: #4a545d;
    text-align: center;
}
.work-item-address {
    text-decoration: none;
}

/*---------------------------------------- opacity transition ---------------------------------------------*/
.work-item {
    display: inline-block;
    max-width: 183px;
    margin-top: 27px;
    margin-left: 20px;
    vertical-align: top;
}

.work-item-image { 
    width: 100%;
    height: 100%;
    position: relative;  
    
  
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

.work-item-image:hover {
    opacity: 0.5;
}

.work-item-container { 
    position: relative; 
    display: block;
    width: 183px;
    height: 130px;
    
    border: 2px solid #3ba8c0;
    border-radius: 5px;
}

.work-item-caption:hover { 
    opacity: 1;  
    filter: alpha(opacity=100);   
}

.work-item-caption {
    position: absolute;
    top: 0;  
    bottom:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgb(59, 168, 192); /*ie8*/
    background-color: rgba(59, 168, 192, 0.5);
    text-align: center;
    filter: alpha(opacity=0); 
    
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;  
}

.work-item:hover .work-item-caption { 
    opacity: 1;  
    filter: alpha(opacity=70);
}

.work-item-before-text {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.work-item-center-name {
    display: inline-block;
    vertical-align: middle;
    
    border: 2px solid white;
    border-radius: 5px;
    padding: 3px;
    
    color: white;    
    font: 12px "fira-sansbook", sans-serif;
}

