@font-face {
    font-family: 'ProximaNova-Black';
    src: url('ProximaNova-Black.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Bold';
    src: url('ProximaNova-Bold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-BoldIt';
    src: url('ProximaNova-BoldIt.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Extrabold';
    src: url('ProximaNova-Extrabold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Light';
    src: url('ProximaNova-Light.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-LightItalic';
    src: url('ProximaNova-LightItalic.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-RegularItalic';
    src: url('ProximaNova-RegularItalic.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Semibold';
    src: url('ProximaNova-Semibold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-SemiboldItalic';
    src: url('ProximaNova-SemiboldItalic.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaCond-Light';
    src: url('ProximaNovaCond-Light.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaCond-LightIt';
    src: url('ProximaNovaCond-LightIt.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaCond-Regular';
    src: url('ProximaNovaCond-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaCond-RegularIt';
    src: url('ProximaNovaCond-RegularIt.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaCond-Semibold';
    src: url('ProximaNovaCond-Semibold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaCond-SemiboldIt';
    src: url('ProximaNovaCond-SemiboldIt.otf');
    font-weight: normal;
    font-style: normal;
}